
{% if user.is_authenticated and user.is_staff %}
<!--<link rel="stylesheet" type="text/css" href="/static/css/formularios.css">-->
<style type="text/css">
#leftt{display: none;}
</style>
<div class=''>
	<ul class="nn">
		Propietario: {{negocio.propietario}}
			{% for i in todasN %}
				<li>{{i.user}}:
					Denuncio:<a href="/detDenunciasReclamos/{{i.id}}/">
					{{i.Tipo_de_peticion}}</a>
				</li>
				{% empty %}
		<p>No hay registros</p>
			{% endfor %}
	<a href="/allNotDeUnNegocio/{{negocio.id}}/">Ver todos</a>
	</ul>
	
</div>
<script type="text/javascript" src='{{STATIC_URL}}js/miventanaUi.js'></script>

{% else %}
<script type="text/javascript">
$(document).ready(function(){
	alert(window.location='/');
});
</script>
<style type="text/css">
html{display: none;}
</style>
{% endif %}