<style type="text/css">
.formu form ul li{list-style: none;}
.formu form p{text-align: left;margin-left: 10px;font-size: 16px}
#id_memorial_apertura{width: 100%;margin-top: 10px;}
#id_resolucion_municipal{width: 100%}
</style>
<script type="text/javascript">
$('#form').submit(function(e){
	e.preventDefault();
	var dato=$(this).serialize();
	$.ajax({
		type:'POST',
		url:'/EditarNegocio/'+{{con}}+'/',
		data:dato,
		success:function(res){
			$('.formu').html(res);
		}
	});
});
</script>
<div class="formu">
	<form method='POST' id='form'>{% csrf_token %}
		{{forms.as_p}}<br>
		<button  class="waves-effect waves-light btn" type="submit">Actualizar</button>
	</form>
</div>