{% if user.is_authenticated and user.is_staff %}
<link rel="stylesheet" type="text/css" href="/static/css/tablasDatos.css">
<style type="text/css">
p{text-align: center;}
</style>
{% for i in reclamos %}
	<table border=0>
	<tr><td>H.G.M.P<br> </td><td>Nro:{{i.idNegocio}}<br></td></tr>
	<tr><td colspan="2" align='center'>Denuncia<br></td></tr>
		<tr><td>Reclamo:{{i.Tipo_de_peticion}}<br></td></tr>
		<tr> <td>{{i.comment}}<br></td></tr>
		{% for j in negocio %}
			{% if j.id == i.idNegocio %}
				<tr><td>Sr(s):{{j.propietario}}<br></td>
				<td >Direccion: {{j.direccion}}<br></td></tr>
				<tr><td colspan="2">fecha: {{i.fecha_denuncia}}<br></td></tr>
				<tr><td colspan="2">Fecha de denuncia: {{i.fecha_denuncia}}<br></td></tr>
			{% endif %}
		{% endfor %} 
		</table>
	{% endfor %}
	<br><br><br>
<p>P-{{hoy}}</p>
<!--<script type="text/javascript" src='{{STATIC_URL}}js/miventanaUi.js'></script>-->
{% else %}
<script type="text/javascript">
$(document).ready(function(){
	alert(window.location='/');
});
</script>
<style type="text/css">
html{display: none;}
</style>
{% endif %}
