
<style type="text/css">
table{width: auto; margin: auto;}
</style>
<table border=1>
	<tr><td>Nombre Registro</td><td>Horario de Atención</td><td>Dias de Atención</td><td>Fecha de Registro</td><td></td></tr>
{% for i in datos %}
 <tr><td><a href="/EditCategoria/{{i.id}}/">{{i.categoria}}</a></td>
 	<td>{{i.atencion}}</td>
 	<td>{{i.dias}}</td>
	 <td>{{i.fecha_registro}} </td>
	 <td>
	 <a href='/EliCat/{{i.id}}/'><span><img src="{{STATIC_URL}}img/eli.gif"></span></a>
	 <a href="/EliminarCat/{{i.id}}/" id='ddd'></a>
	</td>
</tr>
{% endfor %}
</table>
<br>
<script type="text/javascript">
$("table tr td a").on("click",function(e){
		e.preventDefault()
		var urla=$(this).attr("href");  
		console.log(urla);
		cargarFormularios(urla)
		$("#respuestasservidor").dialog({
			modal:true,
			show:"blind",
			width: 600,
			hide:"explode",
			title:"Detalles del Negocio:",
			position: "center",
			resizable: false,
			buttons: [
			{
			text: "Si",
			click: function() {
				//$( this ).dialog( "close" );
				//window.location.href="/deleteReclamo/"+{{i.id}}+"/";
				activar();
				}
			}
			]
		});	
	});
cargarFormularios=function(url){
				$.ajax({
						url: url,
						type: 'GET',
						data: {}
					})
					.done(function(response) {
						$("#respuestasservidor").html(response);
					})
					.fail(function() {
						console.log("error");
					})
					.always(function() {
						console.log("complete");
					});
			}
function activar(){
	//alert("bien");
	$.ajax({
		type:'GET',
		url:$("#ddd").attr("href"),
		success:function(resp){
			$("#respuestasservidor").html(resp);
			Registros();
			$(this).dialog("close");
		}
	});
}
function Registros(){
	$.ajax({
		type:'GET',
		url:'/VerCategorias/',
		success:function(resp){
          $('#cc').html(resp);
        }
	});
	$('.ui-dialog-buttonset').hide();
}
</script>