 <link rel="stylesheet" type="text/css" href="/static/css/tablasDatos.css">
<div>
		<div>
			<select id='cate'>
				<option>Seleccione una categoria</option>
				{% for i in categorias %}
					<option value='{{i.id}}'>{{i.categoria}}</option>
				{% endfor %}
			</select>

		</div>
		 <div class="datalles"></div>
		 
<table border=1>
	<tr>
		<td>Código</td>
		<td>Nombre Propietario</td>
		<td>Memorial de Apertura</td>
		<td>Resolución Municipal</td>
		<td>Not.|Den.</td>
		<td>Opciones</td>
		<td>QR</td>
	</tr>
	{% for negosio in negosios %}
		{% if negosio.activo == 0 %}
	<tr>
		<td><a href="/detalleNegocio/{{negosio.id}}/">{{negosio.id}}</a></td>
		<td>
	{% if negosio.estadoN == 1 %}
			<span><img src="/static/img/alert.gif"></span>
		{% endif %}
	{% if negosio.estadoD == 1 %}
			<span><img src="/static/img/icon_error.gif"></span>
		{% endif %}
			{{negosio.propietario}}</td>
		<td> {{negosio.memorial_apertura}}</td>
		<td>{{negosio.resolucion_municipal}}</td>
		<td>
			<span><a href="/datosDenuncia/{{negosio.id}}/"><img src="/static/img/alert.gif"></a></span>|
			<span><a href="/denunciasAdmin/{{negosio.id}}/"><img src="/static/img/icon_error.gif "></a></span>
		</td>
		<td><span><a href="/deliteNew/{{negosio.id}}/"><img src="/static/img/eli.gif"></a></span>|
	<span><a href="/EditarNegocio/{{negosio.id}}/"><img src="/static/img/edit.png"></a></span> </td>
	<td><a href="/VerCodigoQR/{{negosio.id}}/" target="_blank" title="Imprimir Códogo QR">QR</a></td>
		{% endif %}
	{% endfor %}
	</td>
	</tr>
	<tr><td colspan="7">Total registros Consultados:{{conta}}</td></tr>
	</table> 
</div>
<script type="text/javascript" src="{{STATIC_URL}}js/tablesUI.js"></script>
<script type="text/javascript">
	$('#cate').on('change',inicio);
	function inicio(){
		var id = $(this).val();
		console.log(id); //aki vemos k el id se esta inprimiendo
		$.ajax({
			type: 'GET',
			url:"/busqueda_ajax/"+id+"",
			success: function(data){
				console.log(data);
				$('.datalles').html(data);
			}
		});
	}
	$('#Notificado').on('change', Notificados);
	function Notificados(){
		var id = $(this).val();
		console.log(id); //aki vemos k el id se esta inprimiendo
		$.ajax({
			type: 'GET',
			url:"/Aclusurar/"+id+"",
			success: function(data){
				console.log(data);
				$('.datalles').html(data);
			}
		});
	}
</script>
