<table border=1>
	<tr>
		<td>Codigo</td>
		<td>Nombre Propietario</td>
		<td>Memorial de Apertura</td>
		<td>Resolución Municipal</td>
		<td>Not.|Den.</td>
		<td>Opciones</td>
		<td>QR</td>
	</tr>
	{% for negosio in negosios %}
	{% if negosio.activo == 0 %}
	<tr>
		<td><a href="/detalleNegocio/{{negosio.id}}/">{{negosio.id}}</a></td>
		<td>{{negosio.propietario}}
	{% if negosio.estadoN == 1 %}
			<span><a href="/datosDenuncia/{{negosio.id}}/"><img src="/static/img/alert.gif"></a></span>
			{% endif %}
		{% if negosio.estadoD == 1 %}
			<span><a href="/datosDenuncia/{{negosio.id}}/"><img src="/static/img/icon_error.gif"></a></span>
			{% endif %}</td><td> {{negosio.memorial_apertura}}</td><td>{{negosio.resolucion_municipal}}</td><td>
			<span><a href="/datosDenuncia/{{negosio.id}}/"><img src="/static/img/alert.gif"></a></span>|
			<span><a href="/denunciasAdmin/{{negosio.id}}/"><img src="/static/img/icon_error.gif "></a></span>
		</td>
		<td><span><a href="/deliteNew/{{negosio.id}}/"><img src="/static/img/eli.gif"></a></span> |
	<span><a href="/EditarNegocio/{{negosio.id}}/"><img src="/static/img/edit.png"></a></span> </td>
	<td><a href="/VerCodigoQR/{{negosio.id}}/" target="_blank" title="Imprimir Códogo QR">QR</a></td>
		{% endif %}
	{% empty %}
	<p>No hay Registros</p>
	{% endfor %}
	<tr><td colspan="7">Total Registros {{aux}}</td></tr>
	</td>
	</tr>
	</table><br>
<script type="text/javascript" src="{{STATIC_URL}}js/tablesUI.js"></script>
