<link rel="stylesheet" type="text/css" href="/static/css/tablasDatos.css">

<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.4.custom.min.css"> 
<div class=''>
	
		<div>
			<select>
				<option>Seleccione una categoria</option>
				{% for i in categorias %}
					<option value='{{i.id}}'>{{i.categoria}}</option>
				{% endfor %}
			</select>
		</div>
		 <div class="datalles"></div>
		 <div class="infoNegocio"></div>
		 <!--<a href="/detalleNegocio/{{negosio.id}}/">-->
	
<table border=1>
	<tr>
		<td>Codigo</td><td>Nombre Propietario</td><td>Memorial de Apertura</td><td>Resolucion Municipal</td><td>Not.|Den.</td><td>Opciones</td>
	</tr>
	{% for negosio in negosios %}
	<tr>
		<td>{{negosio.id}}</td><td>{{negosio.propietario}}</td><td> {{negosio.memorial_apertura}}</td><td>{{negosio.resolucion_municipal}}</td><td>
			<span><a href="/datosDenuncia/{{negosio.id}}/"><img src="/static/img/alert.gif"></a></span>|
			<span><a href="/denunciasAdmin/{{negosio.id}}/"><img src="/static/img/icon_error.gif "></a></span>
		</td>
		<td><span><a href="/eliminarN/{{negosio.id}}/"><img src="/static/img/eli.gif"></a></span> |
	<span><a href="/EditarNegocio/{{negosio.id}}/"><img src="/static/img/edit.png"></a></span> </td>
	{% endfor %}
	</td>
	</tr>
	</table>
</div>
<script type="text/javascript">
$('.card').hide();
$("table tr td a").on("click",function(e){
		e.preventDefault()
		var urla=$(this).attr("href");  
		console.log(urla);
		cargarFormularios(urla)
		$(".infoNegocio").dialog({
			modal:true,
			show:"blind",
			width: 600,
			hide:"explode",
			title:"Detalles del Negocio:",
			position: "center"
		});	
	});
cargarFormularios=function(url){
				$.ajax({
						url: url,
						type: 'GET',
						data: {}
					})
					.done(function(response) {
						$(".infoNegocio").html(response);
					})
					.fail(function() {
						console.log("error");
					})
					.always(function() {
						console.log("complete");
					});
			}

	$('select').on('change',inicio);
	function inicio(){
		var id = $(this).val();
		console.log(id); //aki vemos k el id se esta inprimiendo
		$.ajax({
			type: 'GET',
			url:"/busqueda_ajax/"+id+"",
			success: function(data){
				console.log(data);
				$('.datalles').html(data);
			}
		});
	}
</script>
<script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>