<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.4.custom.min.css">

<table border=1>
	<tr>
		<td>Codigo</td><td>Nombre Propietario</td><td>Memorial de Apertura</td><td>Resolucion Municipal</td><td>Not.|Den.</td><td>Opciones</td>
	</tr>
	{% for negosio in negosios %}
	<tr>
		<td>{{negosio.id}}</td><td>{{negosio.propietario}}</td><td> {{negosio.memorial_apertura}}</td><td>{{negosio.resolucion_municipal}}</td><td>
			<span><a href="/datosDenuncia/{{negosio.id}}/"><img src="/static/img/alert.gif"></a></span>|
			<span><a href="/denunciasAdmin/{{negosio.id}}/"><img src="/static/img/icon_error.gif "></a></span>
		</td>
		<td><span><a href="/eliminarN/{{negosio.id}}/"><img src="/static/img/eli.gif"></a></span> |
	<span><a href="/EditarNegocio/{{negosio.id}}/"><img src="/static/img/edit.png"></a></span> </td>
	{% empty %}
	<p>No hay Registros</p>
	{% endfor %}
	<tr>Total Registros {{aux}}</tr>
	</td>
	</tr>
	</table><br>


<script type="text/javascript">
$("table tr td a").on("click",function(e){
		e.preventDefault()
		var urla=$(this).attr("href");  
		console.log(urla);
		cargarFormularios(urla)
		$(".infoNegocio").dialog({
			modal:true,
			show:"blind",
			width: 600,
			hide:"explode",
			title:"Detalles del Negocio:",
			position: "center"
		});	
	});
cargarFormularios=function(url){
				$.ajax({
						url: url,
						type: 'GET',
						data: {}
					})
					.done(function(response) {
						$(".infoNegocio").html(response);
					})
					.fail(function() {
						console.log("error");
					})
					.always(function() {
						console.log("complete");
					});
			}
</script>
<script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>