
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/listas.css">
<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.4.custom.min.css">
<script src="{{STATIC_URL}}js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
	<div class='listas'>
		<a href="/busqueda/">Buscar Negocio</a>
		<div>
			<select>
				<option>Seleccione una categoria</option>
				{% for i in categorias %}
					<option value='{{i.id}}'>{{i.categoria}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="datalles"></div>
		<div class="info"></div>
	{% for negosio in negosios %}
		<ul class='nn'>
		<li>PROPIETARIO: <a href="/detalleNegocio/{{negosio.id}}/">
			{{negosio.propietario}}{{negosio.id}}</a>
		MEMORIAL DE APERTURA:  {{negosio.memorial_apertura}} 
		RESOLUCION MUNICIPAL:  {{negosio.resolucion_municipal}}</li>
		</ul>	
	{% endfor %}
	</div>
	<script type="text/javascript" src='{{STATIC_URL}}js/miventanaUi.js'></script>
<script type="text/javascript">
			/*renderizar=function(r){
				$(".info").html(r)
				$(".info").hide()
				$(".info").show('slow')
			}
	$(".nn li a").click(function (e) {
	var Url = $('.nn li a').attr("href");
	console.log(Url);
    e.preventDefault();
    Consulta(Url);
    function Consulta(dato){
    	$.ajax({
    		type:'GET',
    		url:Url,
    		success:function(resp){
    			$('.datalles').html(resp);
    		}
    	});
    }
  });*/

	$('select').on('change',inicio);
	function inicio(){
		var id = $(this).val();
		console.log(id); //aki vemos k el id se esta inprimiendo
		$.ajax({
			type: 'GET',
			url:"/busqueda_ajax/"+id+"",
			success: function(data){
				console.log(data);
				$('.info').html(data);
			}
		});
	}
</script>
