
{% if user.is_authenticated and user.is_staff %}
<!--<link rel="stylesheet" type="text/css" href="/static/css/formularios.css">-->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/listas.css">
<div class="card">
<table border=1>
	<tr><td>H.G.M.P </td><td>Nro:1</td></tr>
	<tr><td colspan="2" align='center'>Reclamo</td></tr>
	{% for i in reclamos %}
		<tr><td>{{i.Tipo_de_peticion}}</td><td colspan="2">Objeto: {{i.comment}}</td></tr>
		{% for j in negocio %}
			{% if j.id == i.idNegocio %}
				<tr><td colspan="2">Sr(s):{{j.propietario}}</td></tr>
				<tr><td colspan="2">Direccion: {{j.direccion}}</td></tr>
				<tr><td>fecha: {{i.fecha_denuncia}}</td></tr>
				<tr><td colspan="2">Fecha de Notificacion: {{i.fecha_notificacion}}</td></tr>
			{% endif %}
		{% endfor %} 
	{% endfor %}
</table>
<li> <a href="/ImprimirNotificacion/{{dni}}" target="_blank">Imprimir</a> </li>
</div>
<script type="text/javascript" src='{{STATIC_URL}}js/miventanaUi.js'></script>

{% else %}
<script type="text/javascript">
$(document).ready(function(){
	alert(window.location='/');
});
</script>
<style type="text/css">
html{display: none;}
</style>
{% endif %}
