
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/listas.css">
<div class='listas'>
	<ul class='nn'>
		<li><a href="/registros/{{negocio.id}}/">{{negocio.propietario}}
			{{negocio.memorial_apertura}}</a>
	</li>
		<li><a href="/eliminarN/{{negocio.id}}/">Eliminar</a> | 
			<a href="/datosDenuncia/{{negocio.id}}/">Notificaciones</a>|
			<a href="/denunciasAdmin/{{negocio.id}}/">Denuncias</a></li>
	</ul>
</div>
<script type="text/javascript" src='{{STATIC_URL}}js/miventanaUi.js'></script>

