<style type="text/css">
p{text-align: center;}
table{
	width: 80%;margin: auto;text-align: center;
}
#ante{display: none;}
</style>
<script type="text/javascript">
function ver(){
	$('#ante').show(1000);
}
</script>
	<p>Acciones realizadas por los Inspectores de hoy</p>
<table border=1>
		{% for i in Por_dia %}
		<tr><td>Inspector:{{i.user}}</td><td> Realisó el seguimiento al negocio:{{i.neg}} en fecha:{{i.fecha}}</td></tr>
		{% empty %}
		<p>No hay Registros de hoy</p>
		{% endfor %}
</table> 
<p>Inpecciones Anteriores <a href="#" onclick='ver()'>Ver</a></p>
<table border=1 id='ante'>
	<tr><td>Inspector</td><td>Realizó el control al negocio</td><td>Fecha</td><td>Estado</td></tr>
{% for item in datos %}
	<tr>
		<td>{{item.user}}</td>
		<td>{{item.neg}}
		<td>{{item.fecha}}</td>
		 <td><span><img src="/static/img/icon_success.gif"></span></td>
	</tr>
{% empty %}
		<p>No hay registros</p>

{% endfor %}
</table>
<br>
