#leftt{
        display: none;
    }
    .card{
        width: 50%;height: auto;margin: auto;margin-top: 10px;border-radius: 5px;
        margin-bottom: 50px;
    }
    .card p{
        text-align: center;color: black;
    }
    .card form{
        width: 95%;height: auto;margin: auto;margin-top: 5px;
    }
    .card form textarea{
        width: 100%;height: 50px;border-radius: 7px;margin-top: 5px;
    }
    .card form label{
        width: 150px;margin-left: 0px;display: inline-block;
       
    }
    .card form input{
        height: 20px;margin-left: 0px;display: inline-block;width:100%;
        margin-bottom: 10px;
    }
    .card #id_tipo{
        margin-bottom: 50px;
    }
    .card #id_tipo li{list-style: none;
        width: 100px; height: 35px; float: left;margin-left: 5px;
    }
    .card #id_tipo label{
        width: 100px;
        float: left;
    }
    .card #id_tipo label input{width: 100px;
       float: right;
    }
.card form .helptext{width: 250px; float: right; margin-top: -50px;margin-right: 100px;}
    #comentario{
        width: 100%;height: auto;margin: auto;
        background:#eee;margin-top: 10px;margin-bottom: 50px;
    }
.card form #lanzador{
    width: 25%;float: left;display: inline-block;
}
.card form #id_fecha_presentacion{
    width: 60%;float: right;display: inline-block;
}
    #comentario li{
        width: auto;height: auto;list-style: none;
        border-collapse: collapse;margin-bottom: 0px;margin-top: 0px;
       
    }
    #comentario li a{
        width: 98%;
        color: #465866;
        margin-left: 10px;
        text-decoration: none;
    }
    #comentario li:nth-child(odd) { background: #fff; }
    #comentario li:hover{
        background: #81C784;
    }
    #comentario li a:hover{
        color: white; 
    }
    #not{
        margin: auto;margin-right: -300px;
    }

    #longitud_textarea{
        width: auto;height: auto;margin: auto;border: 1px solid black;
    }
.help{
     width: 60%;height: 200px;margin: auto;margin-top: 0px;border-radius: 5px;
        margin-bottom: 0px;
}
#map_canvas{
    width: 100%;height: 200px;margin: auto;margin-top: 0px;border-radius: 5px;
        margin-bottom: 5px;border: 1px solid black;
}
#map_canvass{
    width: 100%;height: 200px;margin: auto;margin-top: -10px;border-radius: 5px;
        margin-bottom: 10px;border: 1px solid black;
}
section{
        display: none;
    }
#fbuscarUser{
    width: 50%;height: auto;margin: auto;
}
#fbuscarUser input{width: 100%;margin: auto;}
/*Formularios de inspectores*/

.row{
        width: 100%;height: auto;margin: auto;margin-top: 10px;border-radius: 5px;
        margin-bottom: 50px;
    }
    
    .row form{
        width: 95%;height: auto;margin: auto;margin-top: 5px;
    }
    .row form textarea{
        width: 100%;height: 50px;border-radius: 7px;margin-top: 5px;
    }
    .row form label{
        width: 150px;margin-left: 0px;display: inline-block;
       
    }
    .row form input{
        height: 20px;margin-left: 0px;display: inline-block;width:100%;
        margin-bottom: 10px;
    }
    .row #id_tipo{
        margin-bottom: 50px;
    }
    .row #id_tipo li{list-style: none;
        width: 100px; height: 35px; float: left;margin-left: 5px;
    }
    .row #id_tipo label{
        width: 100px;
        float: left;
    }
    .row #id_tipo label input{width: 100px;
       float: right;
    }
.row form .helptext{display: none;}
    #comentario{
        width: 100%;height: auto;margin: auto;
        background:#eee;margin-top: 10px;margin-bottom: 50px;
    }
.row form #lanzador{
    width: 25%;float: left;display: inline-block;
}
.row form #id_fecha_presentacion{
    width: 60%;float: right;display: inline-block;
}