#leftt{display: none;}
	.nn{width: 100%; margin: auto;margin-top: 10px;}
.nn li{list-style: none;}
.nn .li:hover{background: #ddd;}
	.listas{background: white;width: 100%;margin: auto;margin-bottom: 10px;}
.listas p{width: auto;
	text-align: center;color: black;height: 30px;margin: auto;
}
.listas p #fecha{
	width: 200px;float: left; margin-left: 20px;
}
.listas #filtro{
	width: auto;height: 30px;margin: auto;margin-left: 50px;margin-bottom: 20px;
}
#contend{
	width: 80%;height: auto;margin: auto;margin-left: 40px;/* border: 1px solid black;*/
}

#contend li{
	width: auto;list-style: none;height:auto;}

