#info{
	width: 100%;height: auto;margin: auto;padding: 0px;
	
}
#info li{list-style: none;}
#info .det{
	width:100%;height: auto;margin: auto;
	background: #81C784;border-radius: 3px;
	margin-bottom: 50px;
}
	#info .det li a{
		color: white;
	}
	#info .det li{
		width: 100%;list-style: none;text-align: center;
		height: auto;margin-left: -20px;
	}
	#info .det li:hover{
		background: #26a69a;
	}
	#info ul li a:hover{
		color: #FF8C00;
	}
	#info p{
		height: 100%;margin-bottom: 0px;text-align: center;
	}
	#leftt{
		display: none;
	}