{% extends 'cliente/denuncia.html' %}
{% block cliente %}
{% if not user.is_authenticated %}
	<div id="contenidos">
<p class="errornote">
  Por favor Ingrese con su cuenta de de Facebook a la aplicacion Web para realizar una denuncia al Negocio.</p>
<h2>Inicie Session  <a href="{% url 'social:begin' 'facebook' %}">Facebook</a></h2>
</div>
{% else %}
<link rel="stylesheet" type="text/css" href="/static/css/formulariosCliente.css">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2" />
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2" />
<script type="text/javascript">
	function ventanaSecundaria(URL){
                window.open(URL,"Editar","width=500,height=300,scrollbars=NO top=150 left=550");
    }
</script>
<style type="text/css">
</style>
</head>
<audio id="player" src="/static/tonos/sonidoUno.mp3">
		</audio>
<div id='comentario'>
	{% for comment in comments %}
		<li><a  href="javascript:ventanaSecundaria('/DetalleDenuncias/{{comment.id}}/')">
			{{comment.user}}  Denunció:  {{comment.comment}}     Cod:{{comment.idNegocio}}</a></li>
	{% endfor %}
</div> 
<h1>Bienvenido :{{uu}}</h1>
<h3>Bienvenido: {{user}}<br>
Ud. esta en el negocio : {{codd.propietario}}</h2>
<!-- <li>Negocio a denunciar::{{nego.propietario}}</li><br> -->
<div class="row">
<form method='POST'  id='for' enctype="multipart/form-data">{% csrf_token %}
<tr><td><input id="id_user" name="user" type="hidden" value="{{uu}}" required/></td></tr>
<tr><th><label for="id_Tipo_de_peticion">Tipo de petición:</label></th></tr>
<td><select id="id_Tipo_de_peticion" name="Tipo_de_peticion">
	<option value='xx'>Eliga una Opción</option>
<option value="Falta de Higiene">Falta de Higiene</option>
<option value="Denuncia por corrupcion">Denuncia por corrupcion</option>
<option value="Horario No Establecido">Horario No Establecido</option>
<option value="Maltratos">Maltratos</option>
<option value="Licencia vencida">Licencia vencida</option>
<option value="Reclamo">Reclamo</option>
<option value="sugerencias">Sugerencia</option>
<option value="Otros Casos">Otros Casos</option>
</select></td><br>
<div class="ayudas">
<li id='xx'>Por favor seleccione una opcion</li>
<li id="Higiene">Ud. aqui puede describir su reclamo sobre la falta de higiene que observo en el lugar</li>
<li id="corrupcion">Ud. deve describir una denuncia de manera concreta.</li>
<li id="Establecido">Mencione si el negocio excede de las horas establecidas</li>
<li id="Maltratos">Mencione los maltratos que observo ya sea fisico o psicologico a los clientes</li>
<li id="Factura">Menciona si este negocio Tiene Licencia Vencida</li>
<li id="Reclamo">Mencione su reclamo de alguna irregularidad</li>
<li id="Sugerencia">Puede dar las superencias que a ud. la paresca una mejor opcion al negocio</li>
<li id="Otros">Descriva algun tipo de irregularidad observada</li>
</div> 
<tr><th><label for="id_comment">Descipción:</label></th>
	<td><textarea cols="40" id="id_comment" name="comment" rows="10" required placeholder="Escriba su reclamo con palabras claras y espesificas" onKeyDown="valida_longitud()" onKeyUp="valida_longitud()">
</textarea></td></tr>
<tr><td><input id="id_idNegocio" name="idNegocio" type="hidden" required  value="{{cod}}"/></td></tr>
<input id="id_idUser" name="idUser" type="hidden"  value="{{uu.id}}"/>
<br>
<button id ="boton" name="enviar" class="btn btn-primary">Notificar</button>
<span class="icon"><img src="{{STATIC_URL}}img/loader.gif"></span>
</form>
</div> 
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="/static/js/jquery.min3.js"></script>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/static/js/denunciasAdmin.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.icon').hide();
		$('#xx').hide();
		$('#Higiene').hide();
		$('#corrupcion').hide();
		$('#Establecido').hide();
		$('#Maltratos').hide();
		$('#Factura').hide();
		$('#Reclamo').hide();
		$('#Sugerencia').hide();
		$('#Otros').hide();
		$('#id_Tipo_de_peticion').on('change', Ayuda);
		function Ayuda(){
			var dato = $(this).val();
			if(dato=='xx'){
		$('#xx').show(1000);
		$('#Higiene').hide();
		$('#corrupcion').hide();
		$('#Establecido').hide();
		$('#Maltratos').hide();
		$('#Factura').hide();
		$('#Reclamo').hide();
		$('#Sugerencia').hide();
		$('#Otros').hide();
			}
			if(dato=='Falta de Higiene'){
				$('#Higiene').show(1000);
		$('#xx').hide();
		$('#corrupcion').hide();
		$('#Establecido').hide();
		$('#Maltratos').hide();
		$('#Factura').hide();
		$('#Reclamo').hide();
		$('#Sugerencia').hide();
		$('#Otros').hide();
			}
			if(dato=='Denuncia por corrupcion'){
				$('#corrupcion').show(1000);
				$('#Higiene').hide();
				$('#xx').hide();
		$('#Establecido').hide();
		$('#Maltratos').hide();
		$('#Factura').hide();
		$('#Reclamo').hide();
		$('#Sugerencia').hide();
		$('#Otros').hide();
			}
			if(dato=='Horario No Establecido'){
				$('#Establecido').show(1000);
				$('#Higiene').hide();
				$('#corrupcion').hide();
				$('#xx').hide();
		$('#Maltratos').hide();
		$('#Factura').hide();
		$('#Reclamo').hide();
		$('#Sugerencia').hide();
		$('#Otros').hide();
			}
			if(dato=='Maltratos'){
				$('#Maltratos').show(1000);
				$('#Higiene').hide();
				$('#corrupcion').hide();
		$('#Establecido').hide();
		$('#Factura').hide();
		$('#Reclamo').hide();
		$('#Sugerencia').hide();
		$('#Otros').hide();
		$('#xx').hide();
			}
			if(dato=='No Emite Factura'){
				$('#Factura').show(1000);
				$('#Higiene').hide();
				$('#corrupcion').hide();
				$('#Establecido').hide();
				$('#Maltratos').hide();
				$('#xx').hide();
		$('#Reclamo').hide();
		$('#Sugerencia').hide();
		$('#Otros').hide();
			}
			if(dato=='Reclamo'){
				$('#Reclamo').show(1000);
				$('#Higiene').hide();
		$('#corrupcion').hide();
		$('#Establecido').hide();
		$('#Maltratos').hide();
		$('#Factura').hide();
		$('#Sugerencia').hide();
		$('#Otros').hide();
		$('#xx').hide();
			}
			if(dato=='sugerencias'){
				$('#Sugerencia').show(1000);
				$('#Higiene').hide();
		$('#corrupcion').hide();
		$('#Establecido').hide();
		$('#Maltratos').hide();
		$('#Factura').hide();
		$('#Reclamo').hide();
		$('#xx').hide();
		$('#Otros').hide();
			}
			if(dato=='Otros Casos'){
				$('#xx').hide();
				$('#Otros').show(1000);
				$('#Higiene').hide();
		$('#corrupcion').hide();
		$('#Establecido').hide();
		$('#Maltratos').hide();
		$('#Factura').hide();
		$('#Reclamo').hide();
			$('#Sugerencia').hide();

			}

		}
	});
</script>
{% endif %}
{% endblock %}
