<style type="text/css">
.ayudas h4{
	text-align: center;font-size: 18px;
}
.ayudas h5{text-align: center;font-size: 16px;}
.ayudas p{
	text-align: center; font-family: arial; font-size: 14px;margin: 15px;margin-bottom: 15px;
}
.ayudas p img{width: 45%;height: 150px;margin-top: 10px;margin-bottom: 10px;}
</style>
<div class="ayudas">
<h4>Manual de Usuario Modulo Inspector</h4>
<h5>Sistema web de control y seguimiento de negocios y denuncias en tiempo real para la Intendencia Municipal de Potosí.</h5>
<p>Cuando el administrador (Intendente), cree usuarios en el sistema los Inspectores (comisarios) deben activar su cuenta ingresando su número de CI.
<img src="/static/img/acc.PNG"></p>
<p>Una vez ingresado los datos correctos, el usuario estará listo para poder usar y estará activo en el sistema. Luego se mostrara la  siguiente ventana de inicio.
	<img src="/static/img/indexIn.PNG"><br>
A continuación se observa los diferentes contenidos y botones del sistema para su debida explicación.
</p>
<p>Nro. 1: En el enlace de inicio que sirve para regresar a la primera ventana después de ingresar al sistema.
Nro. 2: En el enlace el cual direcciona a ver las actividades registradas por el administrador (Intendente)  de acuerdo a cronogramas establecidos por la intendencia municipal de Potosí.</p>
<p>Nro. 3: Es el enlace comercios el cual los muestra del sub enlaces que son para registrar las denuncias que puede realizar el inspector al lugar visitado en un control, o bien observar todas sus denuncias realizadas hasta la fecha.
Nro. 4: Infecciones es el enlace más importante el cual el inspector (comisario) deberá registrar los correspondientes comparendos a así notificar a la central, también permite observar sus notificaciones correspondientes hasta la fecha.</p>
<p>Nro. 5: Es el enlace del perfil de usuario el cual permitirá observar los datos de sus registro así como también modificar los mismos.
Nro. 6 Es el cuadro de texto donde se podrá buscar cada negocio ya sea ingresando el código y bien escribiendo por el propietario del negocio.
Nro. 7: es el contenedor del sistema donde se podrá visualizar todos los contenidos o resultados de cada petición realiza por el usuario.</p>
</div>