
<link rel="stylesheet" type="text/css" href="/static/css/frontends.css">
<link rel="stylesheet" type="text/css" href="/static/css/formularios.css">
<script type="text/javascript">
	function ventanaSecundaria(URL){
                window.open(URL,"Editar","width=500,height=300,scrollbars=NO top=150 left=400");
            } 
</script>
	<div class='card' id="comentario">
		<p>Notificaciones</p>
	<li>
	{% for i in datosN %}
			<li><label>{{i.Usuario}}  :</label> Fecha:
			<a href="javascript:ventanaSecundaria('/detaDenuncias/{{i.id}}/')">
				{{i.fecha_notificacion|timesince}}</a></li>
	{% endfor %}
	<li><a href="javascript:ventanaSecundaria('/allNotDeUnNegocio/{{nego.id}}/')">Ver todos</a>
	</div>