
<link rel="stylesheet" type="text/css" href="/static/css/frontends.css">
<link rel="stylesheet" type="text/css" href="/static/css/formularios.css">
	<div class='card' id="comentario">
		<p>Denuncias</p>
	<li>
	{% for i in datosN %}
			<li><label>{{i.user}}  :</label> Fecha:
				{{i.fecha_denuncia|timesince}}
			Objeto:{{i.Tipo_de_peticion}}<br>
			Descripcion:{{i.comment}}
			</li>
	{% endfor %}
	<li><a href="javascript:ventanaSecundaria('/allNotDeUnNegocio/{{nego.id}}/')">Ver todos</a>
	</div>