
<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.4.custom.min.css">

	<div class='card' id="comentario">
		<p>Denuncias</p>
		<ul class="nn">
	{% for i in datosN %}
				<li><a href="/detDenunciasReclamos/{{i.id}}/">
					{{i.user}}  : hace:
				{{i.fecha_denuncia|timesince}}
				Objeto:{{i.Tipo_de_peticion}}
				</a>
				</li>
	{% endfor %}
	</ul>
	<div>
	<a href="javascript:ventanaSecundaria('/allNotDeUnNegocio/{{nego.id}}/')">Ver todos</a>
	<div id="xxx"></div>
	</div>
	<script type="text/javascript">
	$(".nn li a").on("click",function(e){
		e.preventDefault()
		var urla=$(this).attr("href");  
		console.log(urla);
		cargarFormularios(urla)
		$("#xxx").dialog({
			modal:true,
			show:"blind",
			width: 450,
			hide:"explode",
			title:"Detalles del Negocio:",
			position: "center"
		});	
	});
cargarFormularios=function(url){
				$.ajax({
						url: url,
						type: 'GET',
						data: {}
					})
					.done(function(response) {
						$("#xxx").html(response);
					})
					.fail(function() {
						console.log("error");
					})
					.always(function() {
						console.log("complete");
					});
			}
	</script>
	<script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>