{% extends 'inspector/inicio_inspector.html' %}
{% block user %}{{user}}{% endblock %}
{% block inspecciones %}
{% if not user.is_authenticated and not user.is_staff %}
	<script type="text/javascript">
	$(document).ready(function(){
		alert(window.location='/');
	})
	</script>
	<style type="text/css">
	html{
		display: none;
	}
	</style>
{% else %}
<link rel="stylesheet" type="text/css" href="/static/css/frontends.css">
<link rel="stylesheet" type="text/css" href="/static/css/formularios.css">

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2" />
<audio id="player" src="/static/tonos/sonidoUno.mp3"></audio>
<div id='comentario'>
{% for comment in comments %}
	<li><a  href="javascript:ventanaSecundaria('/detDenunciasReclamos/{{comment.id}}/')">{{ comment.user}}  Denuncio:  {{comment.comment}}     Cod:{{comment.idNegocio}}</a></li>
{% endfor %} 
</div>
<!-- <li>Negocio a denunciar::{{nego.propietario}}</li><br> -->
<div id="conect"></div>
<div id="map_canvas"></div>
<div class="row">
<form method='POST'  id='for' enctype="multipart/form-data">{% csrf_token %}
{{user}}
<tr><td><input id="id_user" name="user" type="hidden" value="{{user}}"/></td></tr>
<tr><th><label for="id_Tipo_de_peticion">Tipo de peticion:</label></th></tr>
<td><select id="id_Tipo_de_peticion" name="Tipo_de_peticion">
<option value="Falta de Higiene">Falta de Higiene</option>
<option value="Denuncia por corrupcion">Denuncia por corrupcion</option>
<option value="Horario No Establecido">Horario No Establecido</option>
<option value="Maltratos">Maltratos</option>
<option value="Licencia vecida">Licencia Vencida</option>
<option value="Reclamo">Reclamo</option>
<option value="sugerencias">Sugerencia</option>
<option value="Otros Casos">Otros Casos</option>
</select></td><br> 
<tr><th><label for="id_comment">Descipcion:</label></th>
	<td><textarea cols="40" id="id_comment" name="comment" rows="10" placeholder="Introdusca su reclamo" required>
</textarea></td></tr>
<tr><td><label for="id_idNegocio">Cod:</label>
	<input id="id_idNegocio" name="idNegocio" type="number" placeholder='Ingrese el Cogigo del Negocio'/></td>
<input id="id_idUser" name="idUser" type="hidden" required  value="{{user.id}}"/></tr>
<br>
<button id ="boton" name="enviar" class="btn btn-primary">Notificar</button>
</form> 
</div>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/static/js/denunciasAdmin.js"></script>
<script src="/static/js/jquery.min3.js"></script>

{% endif %}
{% endblock %}
{% block js %}
{% endblock %}