<link rel="stylesheet" type="text/css" href="/static/css/frontends.css">
<style type="text/css">
.card .nn li{text-align: left;}
 .card .nn li a{
        color: #465866;
        text-decoration: none;
    }
    .row .nn li:nth-child(2n){background: #F5F5F5; 
	border-top: 1px solid #DCDCDC; }
    .card .nn li:hover{
        background: #90EE90;
    }
    .row a:hover{content: white;}
</style>
<div class="row">
	<a href="#">Total de Inspeciones realizadas al lugar:{{cont}}</a>
{% for i in dato %}
	<p>Usuario:{{i.user}}, Realizo una inspecion al negocio:{{i.neg}} hace:{{i.fecha|timesince}}</p>
{% empty %}
<p>No hay Registros</p>
{% endfor %}
</div>