
<link rel="stylesheet" type="text/css" href="/static/css/frontends.css">
<!-- <link rel="stylesheet" type="text/css" href="/static/css/formularios.css"> -->
<link rel="stylesheet" type="text/css" href="/static/css/styleLi.css">
<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.4.custom.min.css">

	<li>{{user.username}}, Estas son tus Denuncias realizadas Total:{{cont}}</li>
<div class='row'>
	<ul class="nn">
{% for i in notificacion %}
	{% if user.id == i.idUser %}
	<li><a href="/detDenunciasReclamos/{{i.id}}/">Hace: {{i.fecha_denuncia|timesince}}     
	{{i.Tipo_de_peticion}} Descripcion<br>
	{{i.comment}}.
	</a>
	<a href="/EditReclamo/{{i.id}}/">Edit</a>
	<a href="/deleteReclamo/{{i.id}}/">Eliminar</a>
	</li>
	{% endif %}
{% endfor %}
</ul>
</div>
<div class="info"></div>
<script type="text/javascript" src='{{STATIC_URL}}js/miventanaUi.js'></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
