
<style type="text/css">
p{text-align: center;}
 .row .nn li a{
        color: #465866;
        text-decoration: none;
    }
    .row .nn li:nth-child(2n){background: #F5F5F5; 
	border-top: 1px solid #DCDCDC; }
    .row .nn li:hover{
        background: #90EE90;
    }
    .nn li a:hover{content: white;}
</style>
<link rel="stylesheet" type="text/css" href="/static/css/frontends.css">
<!-- <link rel="stylesheet" type="text/css" href="/static/css/formularios.css">
<link rel="stylesheet" type="text/css" href="/static/css/styleLi.css"> -->
<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.4.custom.min.css">
<p>{{user.username|upper}}, Estas son tus Denuncias realizadas Total:{{cont}}</p>
<div class='row'>
	<ul class="nn">
{% for i in notificacion %}
	{% if user.id == i.idUser %}
	<li><a href="/detDenunciasReclamos/{{i.id}}/">Hace: {{i.fecha_denuncia|timesince}}     
	{{i.Tipo_de_peticion}} Descripcion,
	{{i.comment}},Cod:{{i.idNegocio}}
	</a>
	<a href="/EditReclamo/{{i.id}}/">Edit</a>|
	<a href="/deleteReclamo/{{i.id}}/">Eliminar</a>
	</li>
	{% endif %}
{% endfor %}
</ul>
</div>
<div id="infoData"></div>
<script type="text/javascript">
$(".nn li a").on("click",function(e){
		e.preventDefault()
		var urla=$(this).attr("href");  
		console.log(urla);
		cargarFormularios(urla)
		$("#infoData").dialog({
			modal:true,
			show:"blind",
			width: 500,
			hide:"explode",
			title:"Detalles del Negocio:",
			position: "center"
		});	
	});
cargarFormularios=function(direccion){
				$.ajax({
						url: direccion,
						type: 'GET',
						data: {}
					})
					.done(function(response) {
						$("#infoData").html(response);
					})
					.fail(function() {
						console.log("error");
					})
					.always(function() {
						console.log("complete");
					});
			}
</script>
<script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
