
<style type="text/css">
p{text-align: center;}
 .row .nn li a{
        color: #465866;
        text-decoration: none;
    }
    .row .nn li:nth-child(2n){background: #F5F5F5; 
	border-top: 1px solid #DCDCDC; }
    .row .nn li:hover{
        background: #90EE90;
    }
    .nn li a:hover{content: white;}
    .nn li{list-style: none;}
</style>
<link rel="stylesheet" type="text/css" href="/static/css/frontends.css">
<!-- <link rel="stylesheet" type="text/css" href="/static/css/formularios.css">
<link rel="stylesheet" type="text/css" href="/static/css/styleLi.css"> -->
<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.4.custom.min.css">
<p>{{user.username|upper}}, Estas son tus Denuncias realizadas Total:{{cont}}</p>
<div class='row'>
	<ul class="nn">
{% for i in notificacion %}
	{% if user.id == i.idUser %}
	<li><a href="/detDenunciasReclamos/{{i.id}}/">
		{% if i.estado == 0 %}
                <span><img src="/static/img/icon_error.gif"></span>
                {%  else %}
                <span><img src="{{STATIC_URL}}img/icon-yes.gif"></span>
         {%  endif %}
		Hace: {{i.fecha_denuncia|timesince}}     
	{{i.Tipo_de_peticion}} Descripcion,
	{{i.comment}},Cod:{{i.idNegocio}}
	</a>
	<a href="/EditReclamo/{{i.id}}/">Edit</a>|
	 <a href="/deleteReclamo/{{i.id}}/" id='dd'></a>
	<a href="/deli/{{i.id}}/">Eliminar</a>
	</li>
	{% endif %}
{% endfor %}
</ul>
</div>
<div id="infoData"></div>
<script type="text/javascript">
$(".nn li a").on("click",function(e){
		e.preventDefault()
		var urla=$(this).attr("href");  
		console.log(urla);
		cargarFormularios(urla)
		$("#infoData").dialog({
			modal:true,
			show:"blind",
			width: 500,
			hide:"explode",
			title:"Detalles del Negocio:",
			position: "center",
			resizable: false,
			buttons: [
				{
					text: "Si",
					click: function() {
						//$( this ).dialog( "close" );
						//window.location.href="/deleteReclamo/"+{{i.id}}+"/";
						activar();
					}
				}
			]
		});	
	});
cargarFormularios=function(direccion){
				$.ajax({
						url: direccion,
						type: 'GET',
						data: {}
					})
					.done(function(response) {
						$("#infoData").html(response);
					})
					.fail(function() {
						console.log("error");
					})
					.always(function() {
						console.log("complete");
					});
			}
function activar(){
	//alert("bien");
	$.ajax({
		type:'GET',
		url:$("#dd").attr("href"),
		success:function(resp){
			$("#infoData").html(resp);
			Load();
			$(this).dialog("close");
		}
	});
}
function Load(){
	$.ajax({
        type:'GET',
        url:"/VerDenunciasInspector/"+{{user.id}}+"/",
        success:function(resp){
          $('#notiii').html(resp);
        }
      });
	$('#infoDataN').html("El Registro a sido Modificado en la Base de datos.");
	$('.ui-dialog-buttonset').hide();
}
</script>
<script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
