<link rel="stylesheet" type="text/css" href="/static/css/frontends.css">
<!-- <link rel="stylesheet" type="text/css" href="/static/css/formularios.css"> -->
<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.4.custom.min.css">
<style type="text/css">
p{text-align: center;}
 .row .nn li a{
        color: #465866;
        text-decoration: none;
    }
    .row .nn li:nth-child(2n){background: #F5F5F5; 
	border-top: 1px solid #DCDCDC; }
    .row .nn li:hover{
        background: #90EE90;
    }
    .nn li a:hover{content: white;}
</style>
</style>
<p>{{user.username|upper}}, Estas son tus Notificaiones realizadas Total:{{cont}}</p>
<div class="row">
	<ul class='nn'>
{%  for i in notificaciones %}
	{% if i.activo == 0 %}
		<li><a href="/detDenuncias/{{i.id}}/">Fecha de notificacion: {{i.fecha_notificacion}}  Descripcion:
		{{i.descripcion}},Cod:{{i.Codigo}}</a>
		<a href="/EditNotificacion/{{i.id}}/">Edit</a>|
		<!-- <a href="/DeleteNotificacion/{{i.id}}/">Elimin</a> -->
		<a href="/DeshavilitarNot/{{i.id}}/" id='ddd'></a>|
		<a href="/delii/{{i.id}}/">Eliminar</a>
	</li>
	{% endif %}
{% endfor %}
</ul>
</div>
<div id="infoDataN"></div>
<script type="text/javascript">
$(".nn li a").on("click",function(e){
		e.preventDefault()
		var urla=$(this).attr("href");  
		console.log(urla);
		cargarFormularios(urla)
		$("#infoDataN").dialog({
			modal:true,
			show:"blind",
			width: 500,
			hide:"explode",
			title:"Detalles del Negocio:",
			position: "center",
			resizable: false,
			buttons: [
				{
					text: "Si",
					click: function() {
				//$( this ).dialog( "close" );
				//window.location.href="/deleteReclamo/"+{{i.id}}+"/";
					activar();
					}
				}
			]
		});	
	});

cargarFormularios=function(direccion){
				$.ajax({
						url: direccion,
						type: 'GET',
						data: {}
					})
					.done(function(response) {
						$("#infoDataN").html(response);
					})
					.fail(function() {
						console.log("error");
					})
					.always(function() {
						console.log("complete");
					});
			}
function activar(){
	//alert("bien");
	$.ajax({
		type:'GET',
		url:$("#ddd").attr("href"),
		success:function(resp){
			$("#infoData").html(resp);
			Load();
			$(this).dialog("close");

		}
	});
}
function Load(){
	$.ajax({
        type:'GET',
        url:"/MisNotificaciones/"+{{user.id}}+"/",
        success:function(resp){
          $('#notiii').html(resp);
        }
      });
	$('#infoDataN').html("El Registro a sido Modificado en la Base de datos.");
	$('.ui-dialog-buttonset').hide();
}

</script>
<script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>



