{% extends 'inspector/inicio_inspector.html' %}
{% block user %}{{user}}{% endblock %}
{% block inspecciones %}
{% if cont == 0 %}
<style type="text/css">#leftt{display: none;} </style>
	<script type="text/javascript">
		$(function(){
			$('#notiii').html('<p align="center">Nose encontraron registros con el Código Ingresado</p>');
		});
	</script>
{% else %}
<link rel="stylesheet" type="text/css" href="/static/css/frontends.css">
<link rel="stylesheet" type="text/css" href="/static/css/formularios.css">
<style type="text/css">
.row ul li{list-style: none;}
</style>
<div class="row">
	<p>Detalles Del Negocio:{{negocio.propietario}}</p>
	{% if negocio.activo == 1 %}
	<style type="text/css">
		.row p{color: red;}
	</style>
	{% else %}
	<style type="text/css">
		.row p{color: green;}
	</style>
	{% endif %}
	<ul>
		<li>Propietario: {{negocio.propietario}}, Registro{{negocio.fecha_registro}} 
		 {{negocio.memorial_apertura}}
		 {% if negocio.estadoN == 1 %}
			<span><img src="{{STATIC_URL}}img/alert.gif"></span>
			{% else %}
			<span><img src="{{STATIC_URL}}img/icon-yes.gif"></span>
			{% endif %}

			{% if negocio.estadoD == 1 %}
			<span><img src="{{STATIC_URL}}img/icon_error.gif"></span>
			{% else %}
			<span><img src="{{STATIC_URL}}img/icon-yes.gif"></span>
			{% endif %}
		 <br>
		 <a href="#" onclick="Notificaiones()" class="btn btn-warning">Notificaciones</a>
		 <a href="#" onclick="Denuncias()" class="btn btn-danger">Denuncias</a>
		 <a href="#" onclick="SeguimientoDelNegocio()" class="btn btn-info">Seguimientos</a>

		 <a href="/privado/{{negocio.id}}/"  class="btn btn-info">Notificar</a>
	</li> 
		<!-- <li><a href="/eliminarN/{{negocio.id}}/">Eliminar</a></li> -->
	</ul>
</div>
<script type="text/javascript">
function Notificaiones(){
	$.ajax({
        type:'GET',
        url:"/datosDenunciaInspector/"+{{negocio.id}}+"/",
        beforeSend: entesEnviar,
        success:function(resp){
          $('#notiii').html(resp);
        }
      });
	function entesEnviar(){
                $('#notiii').text("Procesando...")
            }
}
function Denuncias(){
	$.ajax({
        type:'GET',
        url:"/datosDenunciaInspectorNot/"+{{negocio.id}}+"/",
        beforeSend: entesEnviar,
        success:function(resp){
          $('#notiii').html(resp);
        }
      });
	function entesEnviar(){
                $('#notiii').text("Procesando...")
            }
}
function SeguimientoDelNegocio(){
	$.ajax({
		type:'GET',
		url:"/inspeccioness/"+{{negocio.id}}+"/",
		beforeSend: entesEnviar,
		success:function(resp){
			$('#notiii').html(resp);
		}
	});
	function entesEnviar(){
                $('#notiii').text("Procesando...")
            }
}
</script>
	{% endif %}
{% endblock %}
