<style type="text/css">
.ayudas h4{
	text-align: center;font-size: 18px;
}
.ayudas h5{text-align: center;font-size: 16px;}
.ayudas p{
	text-align: center; font-family: arial; font-size: 14px;margin: 15px;
}
.ayudas p img{width: 45%;height: 150px;margin-top: 10px;margin-bottom: 10px;}
</style>
<div class="ayudas">
<h4>Manual de Usuario Modulo Administrador</h4>
<h5>Sistema web de control y seguimiento de negocios y denuncias en tiempo real para la Intendencia Municipal de Potosí.</h5>
<p>En este apartado se enseñara el manejo y funcionamiento del sistema, explicando las funciones que realizan cada formulario o subsistema del presente proyecto. De esta manera el usuario final lograra entender el funcionamiento más fácil y rápido.</p>
<p>Ya viendo la implantación del presente proyecto primera mente se debe acceder al sistema con la dirección (Dominio) desde un navegador y desde cualquier lugar que se tenga acceso a internet.</p>
<p>Inicio de sessión.-En la ventana se tiene que ingresar el nombre de usuario y contraseña, y dar clic en iniciar sesión.
<img src="/static/img/login.PNG">
</p>
<p>A continuación se observa los diferentes contenidos y botones del sistema para su debida explicación.
	<img src="/static/img/index.PNG">
</p>
<p>Nro. 1: en esta indicación se ve un cuadro de texto que indica ‘Buscar Negocio’ donde se podrá buscar los negocios en tiempo real a mediada que vayamos ingresando el nombre del propietario o la dirección, también se podrá buscar mediante el código del negocio ingresando un número y presionar la tecla enter.</p>
<p>Nro. 2: en esta lista de menús que se muestra esta todos los acciones que se realizara para mostrar los respectivos formularios y algunas peticiones que se vagan realizando, de acuerdo al anunciado.</p>
<p>Nro. 3: Es este botón se muestra un hola al usuario logueado en el sistema si se da clic en el nombre los direccionara al perfil (Características del usuario), también ahí se podrá modificar los datos y cambiar de contraseña</p>.
<p>Nro. 4: En este botón muestra los enlaces a los formularios principales del sistema como ser el formulario de Notificación, Denuncias, y el cerrar sesión.</p>
<p>Nro. 5: El contenedor es la parte donde se visualiza los resultados que se ejecutora de alguna acción.</p>
<a href="/ImprimirAyuda/" target="_blank" class="btn btn-primary left">Inprmir</a>
</div>