
{% if user.is_authenticated and user.is_staff %}
<link rel="stylesheet" type="text/css" href="/static/css/formulario.css">
<style type="text/css">
	#leftt{display: none;}
</style>

	<ul class="nn">
		<li>Notifacaciones: Propietario: {{nego.propietario}}</li>
{% for i in datosN %}
<li>{{i.Usuario}}:Fecha:
		<a href="/detDenuncias/{{i.id}}/">{{i.fecha_notificacion}}</a>
		{% if i.estado == 0 %}
			<span><img src="{{STATIC_URL}}img/alert.gif"></span>
		{% else %}
		<span><img src="{{STATIC_URL}}img/icon-yes.gif"></span>
		{% endif %}
	</li>
{% endfor %}
<a href="/allNotDeUnNegocio/{{nego.id}}/">Ver todos</a>
	</ul>

	<script type="text/javascript">

$(".nn li a").on("click",function(e){
		e.preventDefault()
		var urla=$(this).attr("href");  
		console.log(urla);
		cargarFormularios(urla)
		$(".infoNegocio").dialog({
			modal:true,
			show:"blind",
			width: 600,
			hide:"explode",
			title:"Detalles del Negocio:",
			position: "center"
		});	
	});
cargarFormularios=function(url){
				$.ajax({
						url: url,
						type: 'GET',
						data: {}
					})
					.done(function(response) {
						$(".infoNegocio").html(response);
					})
					.fail(function() {
						console.log("error");
					})
					.always(function() {
						console.log("complete");
					});
			}
</script>
	</script>
{% else %}
<script type="text/javascript">
$(document).ready(function(){
	alert(window.location='/');
});
</script>
<style type="text/css">
html{display: none;}
</style>
{% endif %}