
{% if user.is_authenticated and user.is_staff %}
<link rel="stylesheet" type="text/css" href="/static/css/formularios.css">

<style type="text/css">
	#leftt{display: none;}
</style>
<div class='infoo'>
	<ul class="nn">
		<li>Notifacaciones: Propietario: {{nego.propietario}}</li>
{% for i in datosN %}
		<li>{{i.Usuario}}   <label>: Fecha de Notificacion:</label>
		<a href="/detDenuncias/{{i.id}}/">{{i.fecha_notificacion}}</a></li>
{% endfor %}
<a href="/allNotDeUnNegocio/{{nego.id}}/">Ver todos</a>
	</ul>
</div>
	<script type="text/javascript" src="/static/js/miventanaUi.js"></script> 
{% else %}
<script type="text/javascript">
$(document).ready(function(){
	alert(window.location='/');
});
</script>
<style type="text/css">
html{display: none;}
</style>
{% endif %}