{% extends 'base.html' %}
{% block title %}.:Denuncias:.{% endblock %}
{% block contenidos %}
{% if not user.is_authenticated and not user.is_staff %}
	<script type="text/javascript">
	$(document).ready(function(){
		alert(window.location='/');
	})
	</script>
	<style type="text/css">
	html{
		display: none;
	}
	</style>
{% else %}
<link rel="stylesheet" type="text/css" href="/static/css/formularios.css">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2" />
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
$(document).ready(function() {

});
function ventanaSecundaria(URL){
                window.open(URL,"Editar","width=500,height=300,scrollbars=NO top=150 left=550");
    }
</script>
</head>
<audio id="player" src="/static/tonos/sonidoUno.mp3">
		</audio>
<div id='comentario'>
	{% for comment in comments %}
		<li><a href="javascript:ventanaSecundaria('/DetalleDenuncias/{{comment.id}}/')">{{ comment.user}}  Denuncio:  {{comment.comment}}     Cod:{{comment.idNegocio}}</a></li>
	{% endfor %} 
<li class='cuenta'>Notificaciones registradas: {{cont}}      <a href="/TodaslasDenuncias/">Ver Todos</a></li>
</div>
<div class="help">
<div id="map_canvass"></div>
</div>
<div class="card">


<form method='POST'  id='for' enctype="multipart/form-data">{% csrf_token %}
{{user}}
<tr><td><input id="id_user" name="user" type="hidden" value="{{user}}"/></td></tr>
<tr><th><label for="id_Tipo_de_peticion">Tipo de peticion:</label></th></tr>
<td><select id="id_Tipo_de_peticion" name="Tipo_de_peticion">
<option value="Falta de Higiene">Falta de Higiene</option>
<option value="Denuncia por corrupcion">Denuncia por corrupcion</option>
<option value="Horario No Establecido">Horario No Establecido</option>
<option value="Maltratos">Maltratos</option>
<option value="No Emite Factura">No Emite Factura</option>
<option value="Reclamo">Reclamo</option>
<option value="sugerencias">Sugerencia</option>
<option value="Otros Casos">Otros Casos</option>
</select></td><br> 
<tr><th><label for="id_comment">Descipcion:</label></th><td><textarea cols="40" id="id_comment" name="comment" rows="10" placeholder="Introdusca su reclamo">
</textarea></td></tr>
<tr><th><label for="id_idNegocio">IdNegocio:</label></th><td>
	<input id="id_idNegocio" name="idNegocio" type="number" /></td>
<input id="id_idUser" name="idUser" type="hidden"  value="{{user.id}}"/></tr>
<br>
<button id ="boton" name="enviar" class="btn btn-primary">Notificar</button>
</form>
</div>
<script src="/static/js/jquery.min3.js"></script>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/static/js/denunciasAdmin.js"></script>
{% endif %}
{% endblock %}
	