<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: 'Reporte de Registros Estadisticos Gestión 2016'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Reportes Registros',
            data: [
                ['Seguimientos', {{total_seguimientos}}],
                ['Notificaciones', {{total_noti}}],
                ['Negocios', {{total_negocios}}],
                {
                    name: 'Denuncias',
                    y: {{total_denucias}},
                    sliced: true,
                    selected: true
                },
                ['Clausuras', {{total_noti}}],
                ['Multas', {{total_cobro}}],
                ['Usuarios', {{total_user}}]
            ]
        }]
    });
});
		</script>
	</head>
	<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="height: 400px">{{total_denucias}}</div>