{% extends 'base.html' %}
{% block title %}.:Denuncias:.{% endblock %}
{% block js %}
	<script type="text/javascript">
		$(document).on('ready',Informar);
		function Informar(){
			$('#boton').click(function(e){
				e.preventDefault();
				var dato=$('#texto').val();
				if (dato==''){
					alert('Escriba una Notificacion');
					return false;
				}
					else{
						socket.emit('Aviso',dato);
					}
				});
			}
		socket.on('Avisos',Respuesta);
		function Respuesta(data){
			alert('Notificacion: '+data);
		}
	</script>
{% endblock %}
{% block contenidos %}
{% if user.is_authenticated and user.is_staff %} 
<link rel="stylesheet" type="text/css" href="/static/css/formularios.css">
	<div class="card">
		<p>Enviar Notificacion</p>
		<form onsubmit='return verificar()'>
			<input type='text' id='texto' required>
			<button id='boton'>Informar</button>
		</form>
	</div>
{% else %}
<script type="text/javascript">
$(document).ready(function(){
    alert(window.location='/')
});
</script>
<style type="text/css">
html{display: none;}
</style>

{% endif %}
{% endblock %}