{% if user.is_authenticated %}
<html>
<head>
	<title>Notificacion</title>
	<link rel="stylesheet" type="text/css" href="/static/css/tablasDatos.css">
</head>
<body>
<div class="card">
	{% for i in denuncia %}
	<table border=1>
		<tr><td>H.G.M.P</td><td>Nro. {{i.Codigo}}</td></tr>
	<tr><td colspan="2" align='center'>COMPARENDO</td></tr>
		<tr><td colspan="2">Objeto: {{i.descripcion}}</td></tr>
		{% for j in nombre %}
			{% if j.id == i.Codigo %}
				<tr><td colspan="2">Sr(s):{{j.propietario}}</td></tr>
				<tr><td colspan="2">Direccion: {{j.direccion}}</td></tr>
			{% endif %}
			<tr><td>Fecha de Presentacion en Oficina: {{i.fecha_presentacion}} </td><td>Horas: {{i.hora}}</td></tr>
				<tr><td colspan="2">Fecha de Notificacion: {{i.fecha_notificacion}}</td></tr>
		{% endfor %}
	</table><br>
	{% endfor %}
</div>
</body>
</html>
{% else %}
<script type="text/javascript">
$(document).ready(function(){
    alert(window.location='/')
});
</script>
<style type="text/css">
html{display: none;}
</style>

{% endif %}