{% extends 'base.html' %}
{% block contenidos %}

<style type="text/css">
#leftt{display: none;}
.datos{width: 45%;height: 25px; margin: auto;margin-top: 10px;margin-bottom: 10px;}
.datos li{float: left;margin-left: 10px;margin: auto; list-style: none;}
.infoAdmin{margin-top: 50px;}
.perfil{width: 10%; float: left; list-style: none; margin-left: 10px;}
</style>
	<div class="card">
		<ul class="datos">
			Hola:{{user}}<br>
			<li>
				<a href="/MisDenunciasAdmin/{{user.id}}/" class="waves-effect waves-light btn">Denuncias</a>
			</li>
			<li>
				<a href="/MisNotificacionesAdmin/{{user.id}}/" class="waves-effect waves-light btn">Notificaciones</a>
			</li>
			
		</ul>
		
				<a href="/datos/{{user.id}}/" class="waves-effect waves-light btn">Perfil</a>
		
	</div>
	<script type="text/javascript">
	$('.datos li a').click(function(e){
		e.preventDefault();
		var Url=$(this).attr("href");
		$.ajax({
			type:'GET',
			url:Url,
			success:function(resp){
				console.log(resp);
				$('#notiii').html(resp);
			}
		});
	});
</script>
{% endblock %} 

