{% extends 'base.html' %}
{% block title %}.:Denuncias:.{% endblock %}
{% block contenidos %}
{% if user.is_authenticated and user.is_staff %}
<link rel="stylesheet" type="text/css" href="/static/css/formularios.css">
<!--<button id='not' class="waves-effect waves-light btn">Responder</button>-->
<audio id="player" src="/static/tonos/sonidoUno.mp3"></audio>
<div id="comentario">
{% for mult in multa %}	
	<li><a href="javascript:ventanaSecundaria('/detDenuncias/{{mult.id}}/')">{{ mult.Usuario}}- Notifico:  {{mult.descripcion}}      Cod:{{mult.Codigo}}</a></li>	
{% endfor %}
<li class='cuenta'>Notificaciones registradas: {{cont}}   <a href="/TodaslasNotificaciones/">Ver Todos</a></li>
</div>
<div class="help">
<div id="map_canvas"></div>
</div>
<div class="card">
<form method='POST'>{% csrf_token %}
<input type='hidden' name='csrfmiddlewaretoken' value='xVJkmM4l7vuK6cX1520xfqRh3EgHAEEa' />
<input id="id_idUser" name="idUser" value='{{user.id}}' type="hidden">
<tr><th><label for="id_Usuario">Usuario:{{user.username}}</label></th><td>
<input id="id_Usuario" maxlength="100" name="Usuario" type="hidden" value='{{user.username}}' /></td></tr>
<tr><th><label for="id_descripcion">Descripcion:</label>
</th><td><textarea cols="40" id="id_descripcion" name="descripcion" rows="10" required>
</textarea></td></tr>
<tr><th><label for="id_Codigo">Codigo:</label></th>
	<td><input id="id_Codigo" name="Codigo" type="number" required/></td></tr>

	<input id="id_fecha_presentacion" name="fecha_presentacion" type="text" placeholder='Año-Mes-Dia' />
</td><input type="button" id="lanzador" value="Eliga una fecha" /></tr>
<tr><th><label for="id_hora">Hora:</label></th><td>
	<input id="id_hora" maxlength="12" name="hora" type="text" required placeholder='Formato de 24 horas'/></td></tr><br>
<!--class="waves-effect waves-light btn"-->
	<button name='btn' id='bo' class="btn btn-primary">Notificar</button>
</form>
</div>
	<script src="/static/js/jquery.min3.js"></script>
	<script src="http://localhost:3000/socket.io/socket.io.js"></script>
{% else %}
	<script type="text/javascript">
	$(document).ready(function(){
		 alert(window.location='/')
	})
	</script>
	<style type="text/css">
	html{
		display: none;
	}
	</style>
{% endif %}
{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function(){
	Calendar.setup({
		        inputField     :    "id_fecha_presentacion",      // id del campo de texto
		        ifFormat       :    "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
		        button         :    "lanzador"   // el id del botón que lanzará el calendario
		    });
});
</script>
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/calendar-green.css" title="win2k-cold-1" />
  <script type="text/javascript" src="{{STATIC_URL}}js/calendar.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/calendar-es.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/calendar-setup.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="/static/js/jquery.min3.js"></script>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/NotificacionesAdmin.js"></script>
{% endblock %}

