<script type="text/javascript">
$(document).ready(function(){
	$('#btn').click(CrearForm);
	function CrearForm(e){
		e.preventDefault();
		var dato=$('#id_categoria').val();
		console.log(dato);
		$.ajax({
			type:'POST',
			url:'/Registertype/',
			data:dato,
			success:function(resp){
				$('#resultados').html("Registro Exitoso");
			}
		});
		
	}
});

</script>

<div class="miventana" >
<form metho="POST" id="Tipo">{% csrf_token %}
	{{forms}}
	<input type='submit' id='btn'  value='Guardar'>
</form>
</div>