{% extends 'base.html' %}
{% block title %}.:Denuncias:.{% endblock %}
{% block contenidos %}
{% if user.is_authenticated and user.is_staff %}
	<link rel="stylesheet" type="text/css" href="/static/css/formularios.css">
	<style type="text/css">
		.card p{
			text-align: center;
		}
		.select-wrapper{
			width: 22%;height: auto;float: right;margin-left: 0px; margin: auto;

		}
		.select-wrapper select{
			margin-right: -10px;
		}
		
	</style>
<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.4.custom.min.css"> 
<script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.datepicker-es.js"></script>
<script>
$(function () {
$.datepicker.setDefaults($.datepicker.regional["es"]);
$("#id_Fecha_inicio").datepicker({
firstYear: 1,
dateFormat: 'yy-mm-dd'
});
});
$(function () {
$.datepicker.setDefaults($.datepicker.regional["es"]);
$("#id_Conclucion").datepicker({
firstYear: 1,
dateFormat: 'yy-mm-dd'
});
});
</script>
	<div class="card">
		<p>Registro de Cronograma de Trabajo</p>
		<form method='POST'>{% csrf_token %}
		{{form}}
		<input type='submit' value='Guardar'>
		</form>

	</div>
	<div class="card">
		{%  for i in datos %}
		<p>Fecha Inicio: {{i.Fecha_inicio}}    Conclucion:{{i.Conclucion}}   Objeto:{{i.Detalle}}    Fecha Publicacion:{{i.fecha_publicacion|timesince}}   <a href="/EditarCronograma/{{i.id}}/">Editar</a></p>
		{%empty %}
		<p>No hay registros.</p>
		{% endfor %}
	</div>
	{% else %}
<script type="text/javascript">
$(document).ready(function(){
	alert(window.location='/');
});
</script>
<style type="text/css">
html{display: none;}
</style>
{% endif %}
{% endblock %}
