<html>
<head>
	<title>reportes</title>
	<link rel="stylesheet" type="text/css" href="/static/css/tablasDatos.css">
	<meta charset='utf-8'>
	<style type="text/css">
	p{text-align: center;}
	table{width: 80%;}
	table tr td{text-align: right;}
	</style>
</head>
<body> 

	{% for i in denuncia %}
	<table border=0> 
	<tr><td colspan="2">G.A.M.P.</td><td>Cod:{{i.Codigo}}</td></tr>
	<tr><td colspan="3" align='center'>COMPARENDO<br></td></tr>
		<tr><td colspan="3">Objeto: {{objec}}<br></td></tr>
		<tr><td colspan="3">{{i.descripcion}}</td></tr>
		{% for j in nombre %}
			{% if j.id == i.Codigo %}
				<tr><td colspan="2">Sr(s):{{j.propietario}}<br></td></tr>
				<tr><td colspan="2" >Dirección: {{j.direccion}}<br></td></tr>
				<tr><td colspan="2">Fecha de Presentación en Oficina: {{i.fecha_presentacion}} <br></td><td>Horas: {{i.hora}}<br></td></tr>
				<tr><td colspan="2">Fecha de Notificación: {{i.fecha_notificacion}}<br></td><td>Total:  {{bs}} bs.</td></tr>
			{% endif %}
		{% endfor %}
	</table><br><br><br><br><br>
		<p>Firma Intendente.<br>
			P-{{hoy}}</p>
	{% endfor %}
</body>
</html>