{% extends 'base.html' %}
{% block title %}.:Denuncias:.{% endblock %}
{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#fer').on('click',	iniciar);
			function iniciar(e){
				e.preventDefault();
				var fecha={
					'fe':$('#campo_fecha').val(),
					'fn':$('#campo_fecha_fin').val()
				}
				if(fecha.fe.length == 0 || fecha.fn.length == 0){
					alert('Debe introducir una fecha');
					return false;
				}
				if ((Date.parse(fecha.fe))>(Date.parse(fecha.fn))){
					alert("La Fecha de inicio deve ser Mayor a la Fecha Final");
					return false
				}
				else{
					$.ajax({
					type:'get',
					url:'/ConsultarDenunciaClienteFecha/',
					data: fecha,
					success:function(data){
					$('#contend').text("Procesando!!!");
					var html=""
						for(var i = 0; i<data.length; i++){
							html += '<li>'+(i+1)+' .- '+data[i].fields.user+'  Denunció:  '+data[i].fields.comment+
							'Fecha:'+data[i].fields.fecha_denuncia+'Cod:'+data[i].fields.idNegocio+'</li>';
						}
						$('#contend').html(html);
					}
				});
			}
		}
		Calendar.setup({
		        inputField     :    "campo_fecha",      // id del campo de texto
		        ifFormat       :    "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
		        button         :    "lanzador"   // el id del botón que lanzará el calendario
		    });
		Calendar.setup({
		        inputField     :    "campo_fecha_fin",      // id del campo de texto
		        ifFormat       :    "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
		        button         :    "lanzador2"   // el id del botón que lanzará el calendario
		    });
		
    }); 
$("#ImprimirDatos").on('click',Datoss);
function Datoss(){
	var ini=$("#campo_fecha").val();
	var fin=$("#campo_fecha_fin").val();
	if (ini==""||fin==""){
		alert("Seleciones una Fecha");
		return false;
	}
	if ((Date.parse(ini))>=(Date.parse(fin))){
	alert("La Fecha de inicio deve ser Mayor a la Fecha Final");
	return false
	}
	else{
	window.open("/ImprecionDenunciaClientes/"+ini+"/"+fin);
	}
}
$("#repExcelD").on('click',ExcelD);
function ExcelD(){
	var ini=$("#campo_fecha").val();
	var fin=$("#campo_fecha_fin").val();
	if (ini==""||fin==""){
		alert("Seleciones una Fecha");
		return false;
	}
	if ((Date.parse(ini))>=(Date.parse(fin))){
	alert("La Fecha de inicio deve ser Mayor a la Fecha Final");
	return false
	}
	else{
	window.open("/ReporteExcelDenuncias/"+ini+"/"+fin);
	}
}

function ventanaSecundaria(URL){
                window.open(URL,"Editar","width=500,height=300,scrollbars=NO top=150 left=550");
    }
window.onload = function(){
	var contador=0;
	document.getElementById("Ante").onclick=function(){
	contador++;
	console.log(contador);
	$.ajax({
		type:'GET',
		url:'/VerPorDiaDenuncias/'+contador+'/',
		success:function(resp){
			console.log(resp);
			$('#contend').html(resp);
		}
	});
	}


	document.getElementById("Siguiente").onclick=function(){
		contador--;
		console.log(contador);
		$.ajax({
		type:'GET',
		url:'/VerPorDiaDenuncias/'+contador+'/',
		success:function(resp){
			console.log(resp);
			$('#contend').html(resp);
		}
	});

	}
}
</script> 
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/calendar-green.css" title="win2k-cold-1" />
  <script type="text/javascript" src="{{STATIC_URL}}js/calendar.js"></script>
  <!-- librería para cargar el lenguaje deseado -->
  <script type="text/javascript" src="{{STATIC_URL}}js/calendar-es.js"></script>
  <!-- librería que declara la función Calendar.setup, que ayuda a generar un calendario en unas pocas líneas de código -->
  <script type="text/javascript" src="{{STATIC_URL}}js/calendar-setup.js"></script>
{% endblock %}
{% block contenidos %}
{% if user.is_authenticated and user.is_staff %}
<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.4.custom.min.css">
<script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/listas.css">
<style type="text/css">
.card{background: #eee;}
.card p{ text-align: center;
}
</style>
<div class="card">
	<p>Denuncias de hoy {{hoy}}  total:{{conta}}</p>
	<form method='get' id='filtro'>{% csrf_token %}
				<input type='text' name="date"  id="campo_fecha" placeholder='Año-Mes-Dia' disabled>
				<input type="button" id="lanzador" value="<Desde" />
				<input type='text' name='fnn' id='campo_fecha_fin' placeholder='Año-Mes-Dia' disabled>
				<input type="button" id="lanzador2" value="Hasta>" />
				<button id='fer'>Ver</button>
				<a href="#" target="_blank" id="ImprimirDatos">Imprimir</a>|
				<a href="#" target="_blank" id="repExcelD">Excel</a>
	</form>
	<div id="contend"></div>
<p><a href="#"  id='Ante'>Anterior</a>|<a href="#" id="Siguiente">Siguiente</a></p>
	<hr>
	<ul class='nn'>
	{%  for i in datos %}
			<li>Cod:{{i.idNegocio}}.-Cliente:  {{i.user}} 
		 Denuncio: {{i.comment}}
		hace:{{i.fecha_denuncia|timesince}}
			<a href="/detDenunciasReclamos/{{i.id}}/">Ver</a>|
			</li>
			<a href="/InprecionReclamoDenuncias/{{i.id}}/" target="_blank">Imprimir</a>	 
	{% endfor %}
	</ul>
</div>
<script type="text/javascript">
$(".nn li a").on("click",function(e){
		e.preventDefault()
		var urla=$(this).attr("href");  
		console.log(urla);
		cargarFormularios(urla)
		$("#notiii").dialog({
			modal:true,
			show:"blind",
			width: 600,
			hide:"explode",
			title:"Detalles del Negocio.",
			position: "center"
		});	
	}); 
cargarFormularios=function(urla){
				$.ajax({
						url: urla,
						type: 'GET',
						data: {}
					})
					.done(function(response) {
						$("#notiii").html(response);
					})
					.fail(function() {
						console.log("error");
					})
					.always(function() {
						console.log("complete");
					});
			}
</script>
{% else %}
<script type="text/javascript">
$(document).ready(function(){
    alert(window.location='/')
});
</script>
<style type="text/css">
html{display: none;}
</style>

{% endif %}
{% endblock %}