{% extends 'base.html' %}
{% block title %}.:Denuncias:.{% endblock %}
{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#fecha').on('change',Datos);
		function Datos(){
			var fecha = $(this).val();
			console.log(fecha);
			$.ajax({
				type:'get',
				url:'/ConsultarDenunciaFecha/',
				data:{'fecha':fecha},
				success:function(data){
					//console.log(data);
					var html=""
					for(var i = 0; i<data.length; i++){
						var Id=data[i].fields.id;
						console.log(Id);
						html += '<li>'+(i+1)+' .-<a href="/views/'+data[i].fields.Id+'/">ver</a>'
						+data[i].fields.Usuario+':  Fecha de Not.:  '+data[i].fields.fecha_notificacion+'  Descricion:  '+data[i].fields.descripcion+'</li><br>';
					}
					$('.resultados').html(html);
				}
			});
		}
		$('#fer').on('click',	iniciar);
			function iniciar(e){
				e.preventDefault();
				var fecha={
					'fe':$('#campo_fecha').val(),
					'fn':$('#campo_fecha_fin').val()
				}
				console.log(fecha);
				if(fecha.fe.length == 0 || fecha.fn.length == 0){
					alert('Debe introducir una fecha');
					return false;
				}
				else{
					$.ajax({
					type:'get',
					url:'/ConsultarDenunciaFecha/',
					data: fecha,
					success:function(data){
						console.log(data);
						var html=""
						for(var i = 0; i<data.length; i++){
							html += '<li>      '+(i+1)+' .- '+data[i].fields.Usuario+':  Descricion:  '+data[i].fields.descripcion+'. fecha_presentacion:'+data[i].fields.fecha_presentacion+'   hora:'+data[i].fields.hora+
							'</li>';
						}
							$('#contend').html(html);
						}
					});
				}
		}
		Calendar.setup({
		        inputField     :    "campo_fecha",      // id del campo de texto
		        ifFormat       :    "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
		        button         :    "lanzador"   // el id del botón que lanzará el calendario
		    });
		Calendar.setup({
		        inputField     :    "campo_fecha_fin",      // id del campo de texto
		        ifFormat       :    "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
		        button         :    "lanzador2"   // el id del botón que lanzará el calendario
		    });
		
    });
function ventanaSecundaria(URL){
                window.open(URL,"Editar","width=700,height=400,scrollbars=NO top=150 left=450");
            }
$("#ImprimirDatos").on('click',Datoss);
function Datoss(){
	var ini=$("#campo_fecha").val();
	var fin=$("#campo_fecha_fin").val();
	if (ini==""||fin==""){
		alert("Seleciones una Fecha");
		return false;
	}
	else{
	window.open("/ImprecionDenuncia/"+ini+"/"+fin);
	}
}
$("#repExcel").on('click',Excel);
function Excel(){
	var ini=$("#campo_fecha").val();
	var fin=$("#campo_fecha_fin").val();
	if (ini==""||fin==""){
		alert("Seleciones una Fecha");
		return false;
	}
	else{
	window.open("/ReporteExcel/"+ini+"/"+fin);
	}
}
window.onload = function(){
	var contador=0;
	document.getElementById("Ante").onclick=function(){
	contador++;
	console.log(contador);
	$.ajax({
		type:'GET',
		url:'/VerPorDia/'+contador+'/',
		success:function(resp){
			console.log(resp);
			$('#contend').html(resp);
		}
	});
	}
	document.getElementById("Siguiente").onclick=function(){
		contador--;
		console.log(contador);
		$.ajax({
		type:'GET',
		url:'/VerPorDia/'+contador+'/',
		success:function(resp){
			console.log(resp);
			$('#contend').html(resp);
		}
	});
	}
}

</script>
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/calendar-green.css" title="win2k-cold-1" />
  <!-- librería principal del calendario -->
  <script type="text/javascript" src="{{STATIC_URL}}js/calendar.js"></script>
  <!-- librería para cargar el lenguaje deseado -->
  <script type="text/javascript" src="{{STATIC_URL}}js/calendar-es.js"></script>
  <!-- librería que declara la función Calendar.setup, que ayuda a generar un calendario en unas pocas líneas de código -->
  <script type="text/javascript" src="{{STATIC_URL}}js/calendar-setup.js"></script>
{% endblock %}
{% block contenidos %}
{% if user.is_authenticated and user.is_staff and user.is_active %}
<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.4.custom.min.css">
<script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/listas.css">
<!-- <script type="text/javascript" src="{{STATIC_URL}}js/newUi.js"></script> -->
<style type="text/css">
.card{background: #eee;}
</style>
<div class="card">
	<p>Notificacones de hoy {{hoy}}  total:{{conta}}</p>
	
<form method='get' id='filtro'>{% csrf_token %}
	<input type='text' name="date"  id="campo_fecha" placeholder='Año-Mes-Dia'>
	<input type="button" id="lanzador" value="Desde" />

	<input type='text' name='fnn' id='campo_fecha_fin' placeholder='Año-Mes-Dia'>
	<input type="button" id="lanzador2" value="Hasta" />

	<button id='fer'>Ver</button>
	<a href="#" target="_blank" id="ImprimirDatos">Imprimir</a>|
 	<a href="#" target="_blank" id='repExcel'>Excel</a> 
</form>
		<div id="contend"></div>
		<a href="#"  id='Ante'>Anterior</a>|<a href="#" id="Siguiente">Siguiente</a>
		<hr>
		<ul class='nn'>
	{%  for i in datos %}
			 <li>Usuario:  {{i.Usuario}} 
		Descricion: {{i.descripcion}}</li>
		<li>Fecha de Presentacion : {{i.fecha_presentacion}}   Hora: {{i.hora}}
<a href="/detDenuncias/{{i.id}}/" title='Ver Comparendo'>Ver</a>|
<a href="/sanciones/{{i.id}}/">Sanciones</a></li>
<a href="/ImprimirNotificacion/{{i.id}}/" target="_blank">Imprimir</a>
	{% endfor %}
	</ul>
</div>

<script type="text/javascript">
$(".nn li a").on("click",function(e){
		e.preventDefault()
		var urla=$(this).attr("href");  
		console.log(urla);
		cargarFormularios(urla)
		$("#notiii").dialog({
			modal:true,
			show:"blind",
			width: 600,
			hide:"explode",
			title:"Detalles del Negocio.",
			position: "center"
		});	
	}); 
cargarFormularios=function(urla){
				$.ajax({
						url: urla,
						type: 'GET',
						data: {}
					})
					.done(function(response) {
						$("#notiii").html(response);
					})
					.fail(function() {
						console.log("error");
					})
					.always(function() {
						console.log("complete");
					});
			}
</script>
{% else %}
<script type="text/javascript">
$(document).ready(function(){
    alert(window.location='/')
});
</script>
<style type="text/css">
html{display: none;}
</style>

{% endif %}
{% endblock %}