{% extends 'base.html' %}
{% block title %}.:Denuncias:.{% endblock %}
{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#fer').on('click',	iniciar);
			function iniciar(e){
				e.preventDefault();
				var fecha={
					'fe':$('#campo_fecha').val(),
					'fn':$('#campo_fecha_fin').val()
				}
				$.ajax({
				type:'get',
				url:'/ConsultarDenunciaClienteFecha/',
				data: fecha,
				success:function(data){
					//console.log(data);
					var html=""
					for(var i = 0; i<data.length; i++){
						html += '<li>'+(i+1)+' .- '+data[i].fields.user+':  Fecha:  '+data[i].fields.fecha_denuncia+'  Descricion:  '+data[i].fields.comment+'</li>';
					}
					$('#contend').html(html);
				}
			});
		}
		Calendar.setup({
		        inputField     :    "campo_fecha",      // id del campo de texto
		        ifFormat       :    "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
		        button         :    "lanzador"   // el id del botón que lanzará el calendario
		    });
		Calendar.setup({
		        inputField     :    "campo_fecha_fin",      // id del campo de texto
		        ifFormat       :    "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
		        button         :    "lanzador2"   // el id del botón que lanzará el calendario
		    });
		
    }); 
$("#ImprimirDatos").on('click',Datoss);
function Datoss(){
	var ini=$("#campo_fecha").val();
	var fin=$("#campo_fecha_fin").val();
	if (ini==""||fin==""){
		alert("Seleciones una Fecha");
		return false;
	}
	else{
	window.open("/ImprecionDenunciaClientes/"+ini+"/"+fin);
	}
}
function ventanaSecundaria(URL){
                window.open(URL,"Editar","width=500,height=300,scrollbars=NO top=150 left=550");
    }
    function Vermas(){
    	var cont=1;
    	if (cont>=1){
    		cont++;
    		alert(cont);
    	}
    }
</script> 
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/calendar-green.css" title="win2k-cold-1" />
  <!-- librería principal del calendario -->
  <script type="text/javascript" src="{{STATIC_URL}}js/calendar.js"></script>
  <!-- librería para cargar el lenguaje deseado -->
  <script type="text/javascript" src="{{STATIC_URL}}js/calendar-es.js"></script>
  <!-- librería que declara la función Calendar.setup, que ayuda a generar un calendario en unas pocas líneas de código -->
  <script type="text/javascript" src="{{STATIC_URL}}js/calendar-setup.js"></script>
{% endblock %}
{% block contenidos %}
{% if user.is_authenticated and user.is_staff %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/listas.css">
<div class="card">
	<p>Lista de Denuncias Gestion: {% now "Y" %}</p>
	<form method='get' id='filtro'>{% csrf_token %}
				<input type='text' name="date"  id="campo_fecha" placeholder='Año-Mes-Dia'>
				<input type="button" id="lanzador" value="..." />
				<input type='text' name='fnn' id='campo_fecha_fin' placeholder='Año-Mes-Dia'><input type="button" id="lanzador2" value="..." />
				<button id='fer'>Ver</button>
				<a href="#" target="_blank" id="ImprimirDatos">Imprimir</a>
	</form>
	<div id="contend"></div>
	{%  for i in cs %}
		<ul class='nn'>
			<li>Cliente:  {{i.user}} 
		 Denuncio: {{i.comment}}
		hace:{{i.fecha_denuncia|timesince}}
			<a href="javascript:ventanaSecundaria('/detDenunciasReclamos/{{i.id}}/')">Ver</a>|
			<a href="javascript:ventanaSecundaria('/InprecionReclamo/{{i.id}}/')">Imprimir</a>
			</li>
		</ul>	 
	{% endfor %}
	<li><a href="#" onclick='Vermas()' id='mas'>Ver Mas</a></li>
</div>
{% else %}
<script type="text/javascript">
$(document).ready(function(){
    alert(window.location='/')
});
</script>
<style type="text/css">
html{display: none;}
</style>

{% endif %}
{% endblock %}