<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.4.custom.min.css">
<script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
<p>Total de Notificaciones: {{conta}}  En fecha:{{result}}</p>
	<ul class='nn'>
	{%  for i in datos %}
			 <li>Usuario:  {{i.Usuario}} 
		Descricion: {{i.descripcion}}</li>
		<li>Fecha de Presentacion : {{i.fecha_presentacion}}   Hora: {{i.hora}}
<a href="/detDenuncias/{{i.id}}/" title='Ver Comparendo'>Ver</a> |
<a href="/sanciones/{{i.id}}/">Sanciones</a></li>
<a href="/ImprimirNotificacion/{{i.id}}/" target="_blank">Imprimir</a>
	{% endfor %}
	</ul>
<script type="text/javascript">
$(".nn li a").on("click",function(e){
		e.preventDefault()
		var urla=$(this).attr("href");  
		console.log(urla);
		cargarFormularios(urla)
		$("#notiii").dialog({
			modal:true,
			show:"blind",
			width: 600,
			hide:"explode",
			title:"Detalles del Negocio.",
			position: "center"
		});	
	});
cargarFormularios=function(urla){
				$.ajax({
						url: urla,
						type: 'GET',
						data: {}
					})
					.done(function(response) {
						$("#notiii").html(response);
					})
					.fail(function() {
						console.log("error");
					})
					.always(function() {
						console.log("complete");
					});
			}
</script>
