{% extends 'base.html' %}

{% block contenidos %}
<style type="text/css">
#leftt{display: none;}
</style>
<br>
	<form method='POST' id='userr'>{% csrf_token %}
		<p>Configuracion de la Bae de datos: <br>Ingrese su nombre de Usuario y Contraseña de Administrador</p>
		<label>Usuario:</label><input type='text' name='user' id='user' placeholder='Ejem: Mario'>
		<label>Password:</label><input type='password' name='pass' id='pass' placeholder='Ejem: 12345'>
		<input type='submit' name='uu' id='btnn' value='Acceso'>
	</form><br><br>
	<form method="POST" enctype="multipart/form-data" id="sql">{% csrf_token %}
		{{forms}}
		<input type='submit' value='Importar' class="btn btn-primary" id='btn'>
		<a href="#" onclick='Respaldo()' class="btn btn-warning">Crear Backup</a>
	</form>
	{%  if estado %}
	<p>La base de Datos a sido Restaurada Correctamente</p>
	
	{% endif %}
{% endblock %}
{% block js %}
	<script type="text/javascript">
	$(document).ready(function(){
		$('#sql').hide();
	});
	$('#btn').click(mensaje);
	function mensaje(){
		alert("La Base de datos se está restaurando Espere por favor...");
	}
	function Respaldo(){
		$.ajax({
			type:'GET',
			url:'/crearBackup/',
			beforeSend: entesEnviar,
			success:function(resp){
                    console.log(resp);
                    $('#notiii').html(resp);
                }
		});
		function entesEnviar(){
                $('#notiii').text("Creando la Restauración de la Base de Datos")
            }
	}
$('#userr').submit(function(e){
		e.preventDefault();
		var dato=$(this).serialize();
		console.log(dato);
		$.ajax({
			type:'POST',
			url:'/ValidarUser/',
			data: dato,
			success:function(resp){
				console.log(resp);
				$('#notiii').html(resp);
				$('#sql').show(1000);
				$('#userr').hide();
			}
		});
	});
	</script>
{% endblock %}